@media (min-width: 961px) {

    /*Logo!*/
    #logo-container {
        height: 9em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    #logo-container h1 {
        font-size: 6em;
    }

    #logo-container h3 {
        font-size: 2em;
    }

    /*Search*/

    #search-container {
        width: 50%;
        height: 100%;
        color: white;
        margin-top: 1em;
    }
    
    #search-form-container{
        width: 70%;
    }

    #search-button:hover {
        cursor: pointer;
    }

    /*Tracks, search results.*/

    #content-container {
        width: 100%;
        height: 100%;
    }

    #track-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }

    .track {
        width: 70%;
    }

    .track a {
        align-items: center;
    }

    .track h1,
    .track h2,
    .track h3 {
        margin-left: 10%;
    }

    .track h1 {
        font-size: 2em;
    }

    .track h2 {
        font-size: 1.5em;
    }

    .track h3 {
        font-size: 1.5em;
    }

    .track-info {
        margin: 0.5em;
        width: 100%;
    }



    a {
        text-decoration: none;
    }

    #page-not-found-container {
        font-size: 3em;
    }

    #track-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .track-features {
        display: flex;
        flex-direction: column;
        margin: 1em;
        flex-grow: auto;
        flex-shrink: auto;
        flex-basis: auto;
        overflow:auto;
        height: auto;
        overflow-y: hidden;
    }

    .feature-help {
        width: 20em;
    }
    
    #track-page{
        position: relative;
        min-height: 100vh;
    }
    
    footer{
    }

}