<!DOCTYPE html>
<html>

<head>
    <title>Miusik</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/desktop.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">

</head>

<body>
    <div id="root">
        <a href="index.html">
            <div id="logo-container" class="centered-container">
                <h1>Miusik</h1>
                <h3>What's the tune?</h3>
            </div>
        </a>
        <div id="search-container">
            <div id="search-form-container">
                <form>
                    <input id="search-input" name="track" type="text" placeholder="Name a track">
                    <button id="search-button" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <main id="content-container" class="centered-container">
            <div id="track-container">
                <div class="track" style="background: url(https://i.scdn.co/image/6f8b24b316e271517026fdb327b1ca940d338eef) no-repeat center/cover;">
                    <a href="404.html">
                        <div class="track-info">
                            <div class="track-name">
                                <h1>Big Things Going Down</h1>
                            </div>
                            <div class="track-artists">
                                <h2>Dan Patlansky </h2>
                            </div>
                            <div class="track-album">
                                <h3>Don's Tunes greatest hits</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="track" style="background: url(https://i.scdn.co/image/3aa37254a41cf96e81572524ec523cb870f2bb89) no-repeat center/cover;">
                    <a href="track.html">
                        <div class="track-info">
                            <h1>Sunflower</h1>
                            <h2>Post Malone</h2>
                            <h3>Spider Man: Into the Spiderverse</h3>
                        </div>
                    </a>
                </div>
                <div class="track" style="background: url(https://i.scdn.co/image/c63b1ae207d03f8966b891471d3d5612ffe0ab5c) no-repeat center/cover;">
                    <a href="404.html">
                        <div class="track-info">
                            <h1>Misil en mi Placard</h1>
                            <h2>Soda Stereo</h2>
                            <h3>Soda Stereo Unplugged</h3>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <footer>
            Made by José Avilés. Powered by the Spotify API.
        </footer>
    </div>
    <script src="/bundle.js"></script>
</body>

</html>